<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>assets</key>
        <array>
          <dict>
            <key>kind</key>
            <string>software-package</string>
            <key>url</key>
            <string><![CDATA[https://github.com/theanh69/action-ipadown/releases/download/com.stepper.stepper-1452674940-857786839/com.stepper.stepper-1.11.8-1452674940-857786839.ipa]]></string>
          </dict>
        </array>
        <key>metadata</key>
        <dict>
          <key>bundle-identifier</key>
          <string>com.stepper.stepper</string>
          <key>bundle-version</key>
          <string><![CDATA[unknown]]></string>
          <key>kind</key>
          <string>software</string>
          <key>title</key>
          <string><![CDATA[THEANH]]></string>
        </dict>
      </dict>
    </array>
  </dict>
</plist>
